<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="end" text="Back"></ion-back-button>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="img-container">
      <img src="../../../assets/img/default.png" height="100px" width="100px" alt="default.png">
    </div>
    <p>Nombre de Usuario: {{username}}</p>
    <p>Correo: {{email}}</p>

    <ion-button type="button" onclick="openEditModal()">Editar</ion-button>

    </ion-content>

  </ion-content>