<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="end" text="Back"></ion-back-button>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div class="img-container">
      <!-- Mostrar la imagen de perfil cargada -->
      <img [src]="user?.profilePicture || '../../../assets/img/default.png'" height="100px" width="100px" alt="Imagen de perfil">
    </div>
    <!-- Input para seleccionar archivo -->
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <ion-button (click)="saveProfilePicture()">Guardar Imagen</ion-button>
    
    <p>Nombre de Usuario: {{user?.username}}</p>
    <p>Correo: {{user?.email}}</p>

    <ion-button (click)="openEditModal()">Editar</ion-button>

    </ion-content>

  </ion-content>