#form-content {
    margin: 20px;
}

ion-input {
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-top: 10px;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.514) 1px;
}

.login-btn {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 15px;
}

.register-div {
    padding: 10px 15px;
}

#reg-btn {
    font-weight: bold;
}