<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form-content">

  <ion-input placeholder="Email"  formControlName="email">
  </ion-input>
  
  <ion-input placeholder="password" formControlName="password" type="password">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
  
  <ion-button class="login-btn" [disabled]="!loginForm.valid" type="submit">Iniciar Sesión</ion-button>

  <div class="register-div">
    <p>¿No tienes una cuenta? <a id="reg-btn" (click)="navigateToRegister()">Regístrate aquí</a></p>
  </div>

  </form>

</ion-content>
