<ion-app>
  <!-- sidemenu -->
  <ion-menu side="start" menuId="m1" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
        <!-- <ion-note>{{user.email}}</ion-note> -->
      </ion-toolbar>
    </ion-header>

    <ion-content>

    <ion-list class="ion-padding">
      <ion-item  button routerLink="/home" (click)="closeMenu()">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item  button routerLink="/profile" (click)="closeMenu()">
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item  button routerLink="/settings" (click)="closeMenu()">
        <ion-label>Ajustes</ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
      
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
