<ion-app>
  <!-- sidemenu -->
  <ion-menu side="start" menuId="m1" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
        <!-- <ion-note>{{user.email}}</ion-note> -->
      </ion-toolbar>
      <ion-list >
        <ion-item class="ion-padding" button routerLink="/home" (click)="closeMenu()">Home</ion-item>
        <ion-item class="ion-padding" button routerLink="/profile" (click)="closeMenu()">Mi Perfil</ion-item>
        <ion-item class="ion-padding" button routerLink="/settings" (click)="closeMenu()">Ajustes</ion-item>
      </ion-list>
    </ion-header>
      
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
