<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-chip [routerLink]="['/profile']" slot="end">
      <ion-avatar>
        <img alt="imagen de perfil" [src]="user?.profilePicture || '../../../assets/img/default.png'" />
      </ion-avatar>
      <ion-label>{{user?.username}}</ion-label>
    </ion-chip>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"></ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons>
      
      <ion-title>Home</ion-title>

      <ion-chip [routerLink]="['/profile']" slot="end">
        <ion-avatar>
          <img alt="imagen de perfil" [src]="user?.profilePicture || '../../../assets/img/default.png'" />
        </ion-avatar>
        <ion-label>{{user?.username}}</ion-label>
      </ion-chip>
  
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Bienvenido</p> <strong>{{user?.username}}</strong>
  </div>
</ion-content>
